/*CSS Front-end Requirements
Form is styled and easy to use
All Puppy Bowl players are rendered on card elements with their information
*/

.title{
  display:grid;
  justify-content: center; 
  border: 1px;
  background-color: red;
}

.body{
  background-color: orange;
}

.TITLE{
  display: grid;
  font-size: 50px;
  justify-content: center;
  background-color: black;
  color: red;
}


.all{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: #2196F3;
  padding-top: 10px;
  justify-content: center;
  border: 1px dashed;
  width: 50%;
  background-color: yellow;
}

.play{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 1fr;
  background-color: skyblue;
  
}

.playerNAME{
  color: blue;
  text-align: center;
}

.breed{
  color: aqua;
  text-align: center;
}

.status{
  color:darkgreen;
}

.dButton{
  display: grid;
  justify-content: flex-start;
}

.delete{
  display: grid;
  justify-content: end;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


