@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap"); /* import Montserrat font */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(310deg, #FED7BF, #c88092, #9e4c71);
  word-spacing: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#signUpForm {
  background: #f5a6bc;
  display: grid;
  height: 400px;
  width: 600px;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

#puppyValue,
#breedValue,
#imgValue {
  padding: 10px;
  margin: 10px;
}

#signUpForm h1 {
  letter-spacing: 3px;
  width: 500px;
  text-align: center;
}

#signUpForm input {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

#signUpForm button {
  padding: 10px;
  margin: 10px;
}

#all-players-container {
  background: #af5585;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  border-radius: 15px;
}

#all-players-container h1 {
  letter-spacing: 3px;
  width: 500px;
  display: grid;
  justify-content: center;
}

.card {
  background: #ee95c5;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
  border-radius: 10px;
}

button {
  background-color: #e17e9c;
  border: 3px solid rgb(169, 24, 63);
  border-radius: 19px;
  color: #ffffff;
  padding: 5px 32px;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background: #63081f;
  color: #ede7e3;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
